1ESPV/EDGE-COMPUTING-And -COMPUTER-SYSTEMS/flows aula 2.json
[{"id":"ae178d25269563f9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"710de6e64883ce2c","type":"group","z":"ae178d25269563f9","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9a717bd65e1bdb5b","797fd06483051a0c","3ee09a16718635b1","79875e0e4fdb39dc","4d0637f33b179ba9","f56a73fde07a08b0"],"x":874,"y":19,"w":232,"h":322},{"id":"2f667a1dd72153d4","type":"inject","z":"ae178d25269563f9","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":210,"y":240,"wires":[["532a4e579b3ea434"]]},{"id":"d6a43c717d04dc82","type":"json","z":"ae178d25269563f9","name":"2Json","property":"payload","action":"","pretty":false,"x":630,"y":220,"wires":[["ef1afd2546f32084"]]},{"id":"ef1afd2546f32084","type":"function","z":"ae178d25269563f9","name":"Advanced Filter","func":"msg.payload = {\n    \"temp\":{\n        \"avg\": msg.payload.main.temp,\n        \"min\": msg.payload.main.temp_min,\n        \"max\": msg.payload.main.temp_max,\n        \"feels_like\": msg.payload.main.feels_like\n    },\n    \"wind\":{\n        \"speed\": msg.payload.wind.speed,\n    },    \n    \"humidity\": msg.payload.main.humidity,\n    \n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["9a717bd65e1bdb5b","797fd06483051a0c","3ee09a16718635b1","79875e0e4fdb39dc","81a5682cc7b76801","4d0637f33b179ba9","f56a73fde07a08b0"]]},{"id":"532a4e579b3ea434","type":"function","z":"ae178d25269563f9","name":"Set Params","func":"msg.appid = \"a669c7581a465a7a7c6ca5cea61e378f\"\nmsg.units = \"metric\"\nmsg.q = \"Sao+Paulo,BR\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["db4167373f7533e4"]]},{"id":"9a717bd65e1bdb5b","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"06bada53053caecb","order":0,"width":0,"height":0,"gtype":"gage","title":"Média","label":"ºC","format":"{{msg.payload.temp.avg}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":950,"y":60,"wires":[]},{"id":"797fd06483051a0c","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"8995db448e7d2bf3","order":1,"width":0,"height":0,"gtype":"gage","title":"Mínima","label":"ºC","format":"{{msg.payload.temp.min}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":160,"wires":[]},{"id":"3ee09a16718635b1","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"8995db448e7d2bf3","order":2,"width":0,"height":0,"gtype":"gage","title":"Máxima","label":"ºC","format":"{{msg.payload.temp.max}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":200,"wires":[]},{"id":"79875e0e4fdb39dc","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"949efbdd19e3ac9c","order":3,"width":0,"height":0,"gtype":"gage","title":"Velocidade","label":"km/h","format":"{{msg.payload.wind.speed}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":260,"wires":[]},{"id":"81a5682cc7b76801","type":"debug","z":"ae178d25269563f9","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":440,"wires":[]},{"id":"4d0637f33b179ba9","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"06bada53053caecb","order":2,"width":0,"height":0,"gtype":"gage","title":"Sensação Térmica","label":"ºC","format":"{{msg.payload.temp.feels_like}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":990,"y":100,"wires":[]},{"id":"f56a73fde07a08b0","type":"ui_gauge","z":"ae178d25269563f9","g":"710de6e64883ce2c","name":"","group":"73a4fd1ce1761483","order":3,"width":0,"height":0,"gtype":"wave","title":"Umidade","label":"g/m³","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":300,"wires":[]},{"id":"db4167373f7533e4","type":"http request","z":"ae178d25269563f9","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.openweathermap.org/data/2.5/weather?units={{{units}}}&q={{{q}}}&appid={{{appid}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"","valueType":"other","valueValue":""}],"x":410,"y":260,"wires":[["d6a43c717d04dc82"]]},{"id":"06bada53053caecb","type":"ui_group","name":"Temperatura 1","tab":"1af71d2f3f84ed91","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8995db448e7d2bf3","type":"ui_group","name":"Temperatura 2","tab":"1af71d2f3f84ed91","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"949efbdd19e3ac9c","type":"ui_group","name":"Vento","tab":"1af71d2f3f84ed91","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"73a4fd1ce1761483","type":"ui_group","name":"Umidade","tab":"1af71d2f3f84ed91","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1af71d2f3f84ed91","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]